Object: In Python, everything is object. It is a data memorized in a memory.
For example, if Python was a movie, every characters are object.
Data type: A data type is a classification that defines the values an object can hold and the operations it can perform

In [ ]:
# int data type
type(123)

int

In [ ]:
#float data type

type(1.2)

float

In [4]:
#str data type
type("Hello world")

str

In [6]:
#input function

input()

'Kai'

In [7]:
name = input("what's your name?")
print("Hello", "Mr", name)

Hello Mr Kai

In [ ]:
# I/O function
input()

'Kwanwoo Lee'

In [9]:
i = 1
if i < 1:
    print("more than 1")
else: 
    print("less or equal to 1")

less or equal to 1

Numeric Types
int: 정수 integer
float: 실수 real 
complex: 복소수 complex 1.0 + 2.0j

In [ ]:
#자료형 이름 확인
type(1323)

In [ ]:
# 숫자 리터럴 사이에 언더스코어(_)를 삽입하면 무시합니다.
c = 1_000_000

In [13]:
# 복소수 complex
1+2j

(1+2j)

In [14]:
type(1+2j)

complex

In [15]:
type(complex(1,2))

complex

In [16]:
complex(1,2) - complex(3,5)

(-2-3j)

In [17]:
complex(1,2) + 2

(3+2j)

Variables
대입연산자 Assignment operators

In [18]:
a = 7
b = 3
c = a + b
print(c)

10

In [19]:
# 정의되지않은 변수는 사용못함
print(d) # d has not been defined yet.

NameError: name 'd' is not defined

In [ ]:
#여러 변수 동시에 정의할 수 있음